.min-cardssss{
    display: flex;


    align-content: space-between;

    
}

.mini-card {

   width: 300px;
   height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
 
    margin: 5px;


    text-align: center;
  }
  
  .mini-card .title {
    color: grey;
    font-size: 18px;
  }
  
  .mini-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .mini-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 .mini-card  button:hover, a:hover {
    opacity: 0.7;
  }


  @media only screen and (max-width: 600px) {
    .min-cardssss{
        display: block;
       
    }
    .mini-card {

        width: 90%;
       
         
       }
  }


  


#contact_us{
    margin: 5px;
}



  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }